.gmr-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 0px);
    background: #fff;
    height: 150px;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    z-index: 99999999;
}

.gmr-cookies .gmr-cookies__container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 850px;
    width: 100%;
}
.gmr-cookies .gmr-cookies__container h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.gmr-cookies .gmr-cookies__container p {
    font-size: 12px;
    margin-bottom: 10px;
}

.gmr-cookies .gmr-cookies__container p a{
    text-decoration: underline;
    font-size: 12px;
    color: #000;
}

.gmr-cookies .gmr-cookies__container .gmr-cookies__btn {
    background: #fff;
    padding: 8px 30px;
    align-self: center;
    color: #000;
    border: 1px solid #000;
}

@media (max-width: 1024px) {
    .gmr-cookies {
        padding: 10px;
        width: 100%;
    }
}
